.container {
    display: flex;
    flex-direction: column;
}

.top-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #816263;
    padding: 18px;
}

.left-side {
    display: flex;
    flex-direction: row;
    margin-left: 8%;
}

.right-side {
    display: flex;
    flex-direction: row;
    margin-right: 8%;
}

.create-account {
    margin-left: 24px;
}

.total-price {
    margin-right: 24px;
}

.top-header a {
    color: aliceblue;
    text-decoration: none;
}