.filter {
    display: flex;
    justify-content: flex-end;
    margin: 2% 12%;
}

.filter select {
    border: none;
    padding: 8px 4px;
    outline: none;
    background-color: var(--primary);
    color: var(--light);
    font-size: 1rem;
}

.filter select option {
    border: none;
}

.filter select option:hover {
    box-shadow: 0 0 10px 100px var(--light) !important;
}