.footer-container {
    background-color: #816268a2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50%;
    padding: 2% 20%;
    width: 100%;
}

.footer-title {
    display: flex;
    justify-content: start;
    color: #816362;
    font-size: 20px;
    line-height: 25px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-container a {
    display: flex;
    justify-content: start;
    text-decoration: none;
    line-height: 30px;
    color: #ffff;
}