.products-container-grid {
    background-color: #f8f8f8;
    padding: 10px;
}

.products-container-grid h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #816263;
    text-align: center;
    margin-top: 20px;
    font-size: 2rem;
    font-family: 'PlayfairDisplay-Regular';
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10%;
    text-align: center;
    width: 100%;
    padding: 2% 8%;
}

.column {
    width: 100%;
    background-color: rgba(143, 143, 135, 0.205);
    padding: 20px;
}

.column img {
    max-width: 80%;
}

.title-product {
    padding: 20px;
}

.column .price {
    color: #333;
}