.mainContentCreateAccount {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2% 8%;
    column-gap: 20px;
    color: rgba(73, 73, 69, 0.274);
}

form span a {
    text-decoration: none;
    color: #816263;
}

.column1 {
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.column1 h2,
.column2 h2 {
    margin-bottom: 20px;
    color: #333 !important;
}

.inputs {
    list-style: none;
}

.formItem {
    list-style: none;
    margin-top: 22px;
}

.formItem label {
    color: #816263;
}

.formItem.btnCreateAccount button {
    background-color: #816263;
    color: #fff;
    border: none;
    outline: none;
    transition: all .5s ease-in-out;
    padding: 10px 40px;
}

.formItem.btnCreateAccount button:hover {
    background-color: black;
    color: #fff;
}

.formItem li input {
    width: 100%;
    padding: 8px 2px;
}

.formItem li input:focus {
    border: 2px solid rgba(66, 66, 66, 0.555);
    outline: rgba(66, 66, 66, 0.555);
}